* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark-gray: #e5e5e5;
    --light-gray: #f8f8f8;
}

.none {
    display: none;
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#projects-list {
    padding: 0 2rem;
    width: 100%;
}

.btn-delete-project {
    margin-left: auto;
}

.btn-task, .btn-delete-project {
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 2rem;
}

.content {
    display: grid;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px dotted black;
    width: 100%;
    padding: 1rem;
    background-color: rgb(181, 217, 229);
}

.main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 1rem;
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-right: 5px dotted black;
    transition: 200ms ease;
}

#sidebar button {
    font-size: 1rem;
}

#sidebar.collapsed {
    transform: translateX(-100%);
    transition: 200ms ease;
}

#sidebar .btn {
    display: flex;
    justify-content: start;
    padding: .25rem;
    margin-bottom: 0.25rem;
    border-radius: 1rem;
    transition: all .3s ease;
}

#sidebar .btn:first-child {
    margin-top: 1rem;
}

#sidebar .btn:hover, .menu .btn.active {
    background-color: #e1e1e1;
}

.btn-project {
    background-color: lightblue;
    padding: .25rem;
    margin: .25rem .25rem 0 0;
}

.project-section-title {
    font-size: 1.25rem;
    padding: .5rem;
    margin-bottom: 1rem;
    border-bottom: thin solid #222;
}

.priority-legend > * {
    padding: 4px 8px;
}

.low {
    background-color: lightgreen;
}

button {
    cursor: pointer;
    background-color: transparent;
    cursor:  pointer;
    border: none;
    outline: none;
}

.left button {
  padding-right: 8px;  
}

.task-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-container .createTask {
    height: max-content;
    width: 60%;
    padding: 1rem;
    margin-top: 2rem;
    background-color: var(--dark-gray);
    border-radius: 1rem;
    transition: all .5s ease;
    font-size: 1rem;
}


.task-container .btn i {
    transition: all .5s ease;
}

.task-container .btn:hover i {
    transform: rotate(180deg);
    background-color: var(--main-color);
    color: #fff;
    padding: .2rem;
    border-radius: 50%;
}

.task-container.active #add-task {
    display: none;
}

.active {
    background-color: #e1e1e1;
}

.medium {
    background-color: yellow;
}

.high {
    background-color: rgba(244, 107, 107, 0.893);
}

svg {
    pointer-events: none
  }

.fas {
    pointer-events: none;
}

 