* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark-gray: #e5e5e5;
    --light-gray: #f8f8f8;
    --main-color: lightblue;
}

.none {
    display: none;
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#projects-list {
    padding: 0 2rem;
    width: 100%;
}

.btn-delete-project {
    margin-left: auto;
}

.btn-task, .btn-delete-project {
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 2rem;
}

.content {
    display: grid;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px dotted black;
    width: 100%;
    padding: 1rem;
    background-color: rgb(181, 217, 229);
}

.main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 1rem;
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-right: 5px dotted black;
    transition: 200ms ease;
}

#sidebar button {
    font-size: 1rem;
}

#sidebar.collapsed {
    transform: translateX(-100%);
    transition: 200ms ease;
}

#sidebar .btn {
    display: flex;
    justify-content: start;
    padding: .5rem;
    margin-bottom: 0.25rem;
    border-radius: 1rem;
    transition: all .3s ease;
}

#sidebar .btn:first-child {
    margin-top: 1rem;
}

#sidebar .btn:hover, .menu .btn.active {
    background-color: #e1e1e1;
}

.btn-project {
    background-color: var(--main-color);
    padding: .25rem;
    margin: .25rem .25rem 0 0;
}

.project-section-title {
    font-size: 1.25rem;
    padding: .5rem;
    margin-bottom: 1rem;
    border-bottom: thin dotted #222;
}

.priority-legend > * {
    padding: 4px 8px;
}

.low {
    background-color: lightgreen;
}

button {
    cursor: pointer;
    background-color: transparent;
    cursor:  pointer;
    border: none;
    outline: none;
}

.left button {
  padding-right: 8px;  
}

.task-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-container .createTask {
    height: max-content;
    width: 60%;
    padding: 1rem;
    margin-top: 2rem;
    background-color: var(--dark-gray);
    border-radius: 1rem;
    transition: all .5s ease;
    font-size: 1rem;
}


.task-container .btn i {
    transition: all .5s ease;
}

.task-container .btn:hover i {
    transform: rotate(180deg);
    background-color: var(--main-color);
    color: #fff;
    padding: .2rem;
    border-radius: 50%;
}

.task-container.active #add-task {
    display: none;
}

.form-task {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1rem;
    border: thin dotted var(--dark-gray);
    border-radius: 1rem;
}

.form-task div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}
.form-task div:nth-child(1) {
    margin-bottom: .5rem;
}
.form-task input {
    padding: .5rem;
    flex: 1;
    border-bottom: 1px solid #222;
    margin-right: .5rem;
}

.form-task select {
    border-bottom: 1px solid #222;
}
.form-task input, .form-task select, .form-project input {
    border: none;
    outline: none;
    padding: .2rem;
}

.form-task .btn, .form-project button {
    padding: .5rem;
    margin: .25rem .25rem 0 0;
    background-color: var(--main-color);
    color: white;
    border-radius: 0.5rem;
}

.active {
    background-color: #e1e1e1;
}

.medium {
    background-color: yellow;
}

.high {
    background-color: rgba(244, 107, 107, 0.893);
}

svg {
    pointer-events: none
  }

.fas {
    pointer-events: none;
}

 
/* CARDS */
.cards {
    width: 100%;
}
.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1rem;
    margin: 0 auto;
    margin-top: 1rem;
    width: 80%;
    position: relative;
    border: thin solid var(--dark-gray);
    transition: all 0.5s ease;
}
.card h3 {
    font-weight: normal;
}

.card-show {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: .5rem;
}
.card-show h3, .card-hidden h3 {
    flex: 1;
}
.card-hidden button {
    width: 10%;
}
.card-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;
}

.card-hidden {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: .5rem;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    background-color: transparent;
    transition: transform .3s ease-in-out, opacity .3s ease, background-color .3s ease;
}

.card.show .card-hidden { 
    transform: translateY(0);
    position: relative;
    opacity: 1;
    visibility: visible;
    background-color: inherit;
}
.btn-expand-task {
    transition: transform .3s ease;
}
.card.show .btn-expand-task {
    transform: rotate(180deg);
}

.card.checked {
    opacity: .6;
}
.card.checked .task-title{
    text-decoration: line-through;
}